Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Cors
Flask-APScheduler
gunicorn

pymysql
cryptography
redis

akshare
pandas
numpy
requests
lxml
beautifulsoup4
openpyxl
xlrd
tabulate

python-dotenv
python-dateutil
pytz
tqdm

Werkzeug
Jinja2
click
itsdangerous
urllib3
certifi